
@font-face {
  font-family: "DroidSans";
  font-weight: normal;
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#DroidSans") format("svg");
}

@font-face {
  font-family: "DroidSans";
  font-weight: bold;
  src: url("../fonts/DroidSans-Bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold-webfont.svg#DroidSans") format("svg");
}

//body{
//    background: url("../img/bg.png"), linear-gradient(to right, #075579 0%, #078979 51%, #075579 100%);
//}

.clear{
    clear:both;
}

#main-section{
    background:transparent;
}

select:disabled{
    background: #DDD;
    color: #adadad;
}

section{
    max-width:960px;
    width:100%;
    margin:0 auto;

    .btn_active {
        background: $yellow_btn;
        border: none;
        border-radius: 6px;
        color: $base-color-portfolio;
        height: auto;
        font-size: 14px;
        padding: 10px 36px;
        text-transform: uppercase;
        width: 220px;
    }
}

.entity, .controller-site {
    section {
        max-width: 96%;
    }
}

.infobox-open {
    section {
        max-width: initial;
    }
}

#editable-entity {
    max-width: 96%;
}

#page-entrada{
    margin-top:150px;
    h3, h4{
        color: #FBED1D;
        font-weight:normal;
        text-align:center;
        strong{
            font-weight:bold;
        }
    }

    p{
        color:#fff;

        text-align:center;
        margin:0 auto;
    }

    hr{
        background-color: #FBED1D;
        border: none;
        clear: both;
        height: 1px;
        margin: 5em 12em;
    }

    .title{
        h3, h4{
            width:50%;
            margin:50px auto;
        }

        p{
          width:50%;
        }
    }

    .esconde{
        display:none;
    }



    .btn-cnpj{
        margin-top: 50px;
        display: inline-block;
        width: auto;
        font-size: 18px;

    }

    .btn-sem-cnpj{
        margin-left:20%;
    }

    .btn-com-cnpj{
        float: right;
        width: auto;
        margin-right:20%;
    }

    .bg-laranja{
        background:#F99922;
        color:#fff;
    }

    .js-sem-cnpj{
        p{
            margin-top:60px;
        }

        .btn_continuar{
            margin-top: 60px;
            margin-left: 40%;
        }
    }

    .criterios{
        h4{
            font-size: 1.7em;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1.2em;
            margin-bottom: 20px;
        }

        p{
            font-size: 1.2em;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            line-height: 1.2em;
            margin-bottom: 20px;
        }

        .js-icons{
            border-top: 4px solid #FBED1D;
            width: 78%;
            margin: 0 auto;
            span{
                color: #FBED1D;
                font-size: 21px;
                padding: 10px;
                margin-top: -4px;
                display: inline-block;
                cursor:pointer;
                border-top:4px solid #FBED1D;

                &:hover{
                    color: #F39523;
                    border-top:4px solid #F39523;
                }

                &.active{
                    color: #F39523;
                    border-top:4px solid #F39523;
                }
            }


        }
    }



    .slide{
        display:none;

        p{
            font-size:0.9em;
        }

        span{
            color: #FBED1D;
            font-size: 35px;
            margin-left: 45%;
        }
    }

    .sl1{
        display:block;
    }

    .cnpj-form{
        float:right;
        margin-right: 12%;
        label{
            color: #FBED1D;
            display: block;
            font-size: 1.5em;
            margin-bottom: 10px;
            margin-top: -10px;
        }

        input{
            width:100%;
        }

        input[type="submit"]{
            float:right;
            text-transform:uppercase;
            padding: 3px 15px;
            width: auto;
            height: auto;
        }
    }

    .resposta-cnpj{
        width: 70%;
        margin: 0 auto;
        font-weight: 100;
        margin-top: 50px;

        a{
            display:block;
            margin:0 auto;
            margin-top:40px;
        }

        a.ja-sou{
            color: #FBED1D;
            font-size:0.8em;
            margin-top:20px;
            margin-left:20%;

            span{
                color:#fff;
                background: #F99922;
                padding: 1px 7px;
                font-size: 14px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }
        }
    }

    .modal{
        display:none;
        position: absolute;
        background-color: #fff;
        z-index: 999;
        top: 400px;
        width: 60%;
        margin-left: 19%;
        -webkit-box-shadow: 0px 0px 18px 15px rgba(68, 169, 178, 0.42);
        -moz-box-shadow:    0px 0px 18px 15px rgba(68, 169, 178, 0.42);
        box-shadow:         0px 0px 18px 15px rgba(68, 169, 178, 0.42);
        padding: 15px 40px;
        h6{
            color:#B3B3B3;
            font-size: 0.9em;
            font-weight: 100;
            span{
                color:#fff;
                background: #F99922;
                padding: 1px 7px;
                font-size: 12px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                margin-left: -30px;
                margin-right: 10px;
            }
        }

        p{
            color:#08826D;
            font-size: 0.8em;
            text-align: left;
            line-height: 1.5em;
            margin-bottom: 10px;
            a{
                color:#08826D;
            }
        }

        .js-close-modal{
            position: absolute;
            right: 10px;
            color: #076179;
            top: 0px;
        }

    }
}

#page-rede{
    background: transparent;
    margin: 0px auto;
    max-width: 960px;
    text-align: center;
    width: 100%;

    p {
        color: #FFFFFF;
    }

     h1, h4 {
        color: $yellow_btn;
        text-transform: uppercase;
    }

    article {
        &.slide-home {
            background: url('../img/banner-home2.jpg');
            height: 450px;
            padding-top: 30px;
            max-height: 480px;

            .bg-transparent{
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                filter: alpha(opacity=50);
                -moz-opacity: 0.5;
                -khtml-opacity: 0.5;
                opacity: 0.5;
                display: block;
                position: relative;
                width: 433px;
                height: 164px;
                background-color: #333;
                top: -555px;
                margin-left: 10px;
            }

            .text-banner{
                position:relative;
                z-index: 999;
                margin-top: 53px;
                left: 6%;
                width: 35%;
            }

            h3{
                font-size: 2em;
                color: #fff;
                text-align: center;
                margin: 2em auto 1em;
            }

            img {
                margin-bottom: 30px;
                width: 360px;
            }

            > p {
                    max-width: 360px;
                    font-family: DroidSans;
                    font-size: 16px;
                    margin: 0 auto;
            }
            .btn__active {
                    margin: 5em 0 8em;
                    background-color: #fae824;
                    border: 0px;
                    text-transform: uppercase;
                    color:#3a7c18;
                    position: relative;
                    height:auto;
                    left: -26%;
		                top: -15%;
		                font-size: 24px;
            }
            a {
                &.what {
                    color: #FFFFFF;
                    display: block;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

        &.points_culture {
            .row {
                &:nth-child(1) {
                    margin-bottom: 80px !important;
                }
                > p {
                        max-width: 700px;
                        font-family: DroidSans;
                        font-weight: normal;
                        font-size: 16px;
                        margin: 20px auto;
                        text-align: justify;
                }

                .colunm {
                    width:40%;
                    display:inline-block;
                    padding: 0 45px;
                    box-sizing: border-box;
                    img {
                        margin-bottom: 18px;
                    }
                }
            }

            .box-faq{
                background: rgba(255, 255, 255, 0.3);
                margin: 0px auto;
                max-width: 720px;
                 padding: 25px 0px 35px;;
                .box{
                    border-radius:10px;
                    padding:20px;
                    margin:0px 20px;
                    h4{
                        font-family: DroidSans;
                        color:#fff;
                        font-size:1.5em;
                        font-weight:normal;
                        line-height: 1.3em;
                        margin: 0px;
                    }

                    a{
                        text-decoration:none;
                    }
                }

                .oquee{
                    background:#f8931f;
                }

                .porqueser{
                    background:#d62f5d;
                }

                .oqueganho{
                    background:#f6ca0a;
                    img{
                        margin-bottom:-4px;
                    }
                }

                .criterios{
                    background:#9aa510;
                }
            }
        }

        &.redes{
            a{
                border-radius: 10px;
                color: #004a60;
                padding: 10px;
                font-size: 2em;
                margin: 10px;
                display: inline-block;
                 img{
                    width:50px;
                }
            }
        }
    }

}

#page-faq {
    text-align: center;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;

    .btn-volta-topo{
        position: fixed;
        bottom: 30px;
        right:40px;
        width:50px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        /* transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;

        &:hover{
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
        }
    }

    article {
        &.slide-home {
            background: url('../img/slider-home-topo/Home04.jpg');
            height: 450px;
            padding-top: 30px;
            max-height: 480px;

            img {
                margin-bottom: 30px;
                width: 360px;
            }

            ul {
                font-family: DroidSans;
                font-weight: bold;
                list-style: none;
                li {
                    margin: 8px 0;
                    a {
                        color: $yellow_btn;
                        font-size: 22px;
                        text-shadow: 1px 1px 0px #000000;
                        text-decoration: none;
                    }
                    span {
                        color: #F7931E;
                        font-size: 16px;
                        margin-left: 12px;
                        vertical-align: middle;
                    }
                }
            }
        }
        &.content_faq {
            .row {
                h2, h3 {
                    color: $yellow_btn;
                }

                h3 {
                    padding-top: 90px;
                    text-transform: uppercase;
                }
                > p {
                    color: #FFFFFF;
                    font-family: DroidSans;
                    font-weight: normal;
                    font-size: 16px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 768px;
                }

                .btn__active {
                    background: $yellow_btn;
                    border: none;
                    border-radius: 6px;
                    color: $base-color-portfolio;
                    height: auto;
                    font-size: 14px;
                    padding: 10px 36px;
                    margin: 40px 0 20px 0;
                    text-transform: uppercase;
                    width: 220px;
                }
                a {
                    &.what {
                        color: #FFFFFF;
                        display: block;
                        font-size: 14px;
                        text-shadow: 1px 1px 0px #000000;
                        &:hover {
                            text-decoration: none;
                        }
                        span {
                            color: #F7931E;
                            font-size: 22px;
                            margin-right: 8px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

}

#page-cadastro{
    section.texto{
        margin-top: 100px;

        h2{
            color:#fff !important;
            text-align:center;
            margin-top: 50px;
            font-family: #base-font-DroidSans;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5em;

            span{
                font-weight: 100;
                font-size: 0.7em;
            }
        }

        p{
            color:#fff;
            text-align:center;
            font-size:0.9em;
            padding: 5px 20%;
            margin: 10px;
        }

        .messenger{
            background-color: #af7f37;
            width: 70%;
            padding: 10px 20px;
            color: #fff;
            margin: 0px auto;
            text-align: center;

            p{
                margin-bottom:0px;
                padding:0px;
            }

            .close{
                color: #fff;
                float: right;
            }
        }
    }


    section.boxs-cadastro{
        margin-top:50px;

        article{
            width:50%;
            float:left;
            background: #fff;


            &.border-left{
                &:before{
                    content: "";
                    border-left: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    height: 173px;
                    position: absolute;
                }

            }

            header{
				height: 85px;
                a{
                    text-decoration:none;
                }
                h4{
                    color: #fff;
                    font-family: "DroidSans";
                    font-weight: normal;
                    font-size: 1.3em;
                    margin: 20px 5% 10px;
					position: relative;

					display: inline-block;
					top: 13px;
                }
                span.icon{
                    display: inline-block;
                    width: 40px;
                    font-size: 36px;
                    color: #FFFFFF;
                    top: 30px;
                    left: 15px;
					position: relative;
					vertical-align:top;

                }

                .btn_mais{
                    padding: 0px 6px;
                    background-color: #078979;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    position: relative;
                    top: 72px;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 100;
                    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.62);
                    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.62);
                    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.62);
					float: right;
					margin-right: 40px;
                }
            }
            .infos{
                padding:10px 10px 7px 0px;
                width: 480px;
                height: 70px;

                .texto{
                    margin-left: 5%;
                    margin-top: 20px;
                    width: 79%;
                    display: inline-block;

                    p{
                        font-size:0.9em;
                    }
                }


                .circle-status{
                    cursor: pointer;
                    font-size: 3.5em;
                    margin-top: 6%;
                    display: inline-block;
                    float: right;
                }

            }

        }

        article.box-info-responsavel{
            header{
                background: $base-color-info-responsavel;

            }

            .infos{
                .circle-status{
                    &:hover{
                        span{
                            color:#F7C908;
                        }
                    }
                    .fill, .bar{
                        border-color: #F7C908;
                    }
                }
            }
        }
        article.box-entidade-dados{
            header{
                background: $base-color-entidade-dados;

            }

            .infos{
                .circle-status{
                    &:hover{
                        span{
                            color:#D82E5F;
                        }
                    }
                    .fill, .bar{
                        border-color: #D82E5F;
                    }
                }
            }
        }

        article.box-entidade-financiados{
            header{
                background: $base-color-projetos-financiados;

            }

            .infos{
                .circle-status{
                    &:hover{
                            span{
                                color:#F7931E;
                            }
                    }

                    .fill, .bar{
                        border-color: #F7931E;
                    }
                }
            }
        }

        article.box-ponto-mapa{
            header{
                background: $base-color-ponto-mapa;

            }

            .infos{
                .circle-status{
                    &:hover{
                        span{
                            color:#075579;
                        }
                    }

                    .fill, .bar{
                        border-color: #075579;
                    }
                }
            }
        }

        article.box-portfolio{
            header{
                background: $base-color-portfolio;
            }

            .infos{
                .circle-status{
                    &:hover{
                        span{
                            color:#249604;
                        }
                    }
                    .fill, .bar{
                        border-color: #417034;
                    }
                }
            }
        }

        article.box-atuacao-articulaco{
            header{
                background: $base-color-atuacao-articulacao;

            }

            .infos{
                .circle-status{

                    &:hover{
                        span{
                            color:#7B4AAF;
                        }
                    }

                    .fill, .bar{
                        border-color: #7B4AAF;
                    }
                }
            }
        }
        article.box-economia-viva{
            border-bottom: 1px solid #ccc;
            header{
                background: $base-color-economia-viva;
            }

            .infos{
                .circle-status{
                    &:hover{
                            span{
                                color:#F7931E;
                            }
                    }

                    .fill, .bar{
                        border-color: #F7931E;
                    }
                }
            }
        }

        article.box-formacao{
            border-bottom: 1px solid #ccc;
            header{
                background: $base-color-formacao;

            }

            .infos{
                .circle-status{

                    &:hover{
                        span{
                            color:#7B4AAF;
                        }
                    }

                    .fill, .bar{
                        border-color: #7B4AAF;
                    }
                }
            }
        }
    }

    section.box-status{
        article{
            background:#fff;
            padding: 20px 0px;
            .status{
                width: 120px;
                height: auto;
                float: left;
                padding: 0.3%;
                color:#1502B3;
            }
        }

        article.validar-ponto{
            background: #078979;
            color:#fff;
            text-align: center;

            h5{

                font-size: 20px;
                color: #fff;
                margin-left: 5%;
                margin-top: 30px;
                font-weight: 100;
               i{
                   display:block;
                   font-size:22px;
               }
            }

            p{
                display:inline-block;
                text-align:center;
                font-size:14px;
                width: 30%;
            }
        }


        article.content-status{

            .infos-messenge{
                background-color: #F9B462;
                width: 70%;
                padding: 0px;
                color: #fff;
                margin: 30px auto;
                text-align: center;

                p{
                    margin-bottom:0px;
                    padding:0.3%;
                }

                .close{
                    color: #fff;
                    float: right;
                }
            }

            .btn-validar{
                background: #E6E6E6;
                color: #B3B3B3;
                border: 0px;
                cursor: pointer;
                font-size: 18px;
                padding: 15px 40px;
                display: inline-block;
                height: auto;
                margin-left: 44%;
                margin-top: 30px;
            }

            .btn-validar:enabled {
            	background: rgb(214, 213, 213);
            	color: rgb(99, 99, 99);
            	border: 1px solid rgb(167, 167, 167);
            }

            //Box Status
            .status{
                cursor:pointer;
                height: 120px;
                padding:0px;

                + .status{
                    &:before{
                        content: "";
                        width:1px;
                        height:90px;
                        background: #d0d0d0;
                        position:absolute;
                    }
                }



                .circle-status{
                    font-size: 50px;
                    margin-left: 31%;
                    .bar, .fill{
                        border-color:#f50;
                    }
                    &.p100{
                        .bar, .fill{
                            border-color:#469200;
                        }
                    }

                }

                span.icon{
                    display: inline-block;
                    width: 100%;
                    font-size: 24px;
                    color: #8E8E8E;
                    margin-top: 10px;

                }

                &:hover{
                    > p{
                       display:block;
                    }

                    span.icon{
                        color:#1502B3;
                    }

                }

                p{
                    display: none;
                    font-size: 1em;
                    font-weight: bold;
                    line-height: 1.2em;
                    text-align: center;
                    width: 100%;
                    margin-left: 0px;
                }
            }
        }
    }
}


/*
* Estrutra Base Forms
*/
.page-base-form{
    background: #fff;
    padding-bottom:50px;


    header{
        background:$base-color-info-responsavel;

        .icon{
            font-size:25px;
            color:#fff;
            margin: 20px 0 0 2%;
        }

        .circle-status{

        }

        h3{
            color: #fff;
            font-size: 20px;
            font-weight: 100;
            margin-left: 2%;
            padding-bottom: 20px;
            line-height: 25px;
        }

        .circle-status{
            position: absolute;
            right: 10px;
            top: 60px;
            font-size: 3.5em;
        }
    }

    p{
        color: #078979;
        padding: 50px 17%;
        font-size: 17px;
        text-align: center;
        font-weight: bold;
    }

    .form{
        padding: 10px 4%;

        .inputqtd{
            width: 40px;
            display:inline-block;
            margin-right: 10px;
        }

        .img_updade{
            display:inline-block;
            margin-bottom: 30px;
        }

        span.destaque-img{
            display:inline-block;
            color: #078979;
            font-weight: bold;
            font-size: 14px;
            width: 40%;
            text-align: center;
            margin-left: 15px;
            vertical-align: top;
        }

        h4{
            background: #f7c908;
            color: #fff;
            font-size: 16px;
            font-weight: 100;
            padding: 10px 20px;
        }

        p{
            color: #999999;
            text-align: left;
            padding: 0px;
            margin: 10px;
            font-weight: 500;
            font-size: 14px;

        }


        .file-item {
            position:relative;
            img {
                cursor: pointer;
            }
        }

        a{
            color: #078979;
            font-weight:bold;
            text-decoration:none;

            &.exclui{
                background: #525050;
                color: #fff;
                display: block;
                border-radius: 20px;
                font-weight: normal;
                font-size: 11px;
                line-height: 11px;
                vertical-align: top;
                padding: 3px 7px 6px;
                -moz-box-shadow: 0px 0px 7px 2px rgba(50, 50, 50, 0.25);
                box-shadow: 0px 0px 7px 2px rgba(50, 50, 50, 0.25);
                position: absolute;
                right:5px;
                top:5px;

                &:hover{
                    color: #525050;
                    background: #fff;
                }
            }
        }

        .progress{
            background: #525050;
            border-radius: 10px;
            height: 15px;
            overflow: hidden;
            span{
                color:#fff;
                text-align:center;
                font-size: 11px;
                line-height: 15px;
                //background: url("../img/bg.png"), linear-gradient(to right, #075579 0%, #078979 51%, #075579 100%);
                padding-right:5px;
            }
        }

        span{
            display: block;
            color: #999999;
            font-size: 13px;
        }

        label{
            color: #999999;
            font-size: 13px;
        }

        input, select{
            width: 100%;
            margin-top: 0px;
            border-radius: 5px;
        }

        textarea{
            width: 100%;
            height:60px;
            margin-top: 0px;
            border-radius: 5px;
        }

        input[type="checkbox"], input[type="radio"]{
            color: #999999;
            width:auto;
            margin-right: 6px;
        }

        .colunm-full{
            margin-left:1%;
        }

        span.check{
            display:inline-block;
        }

        .label-radio{
            display:inline-block;
            margin-right:20px;
        }

        .destaque{
            color: #078979;
            font-weight:bold;

            .hltip{
                background: #f7931e;
                border-radius: 10px;
                padding: 1px 6px;
                font-size:11px;
                color: #fff;
                font-style: normal;
                cursor: pointer;
            }
        }

        .title{
            font-size: 1em;
            margin: 1%;
        }

        .subtitle{
            margin: 1%;
        }
    }
    .colunm-redes{
            width: 27%;

            display:inline-block;
            margin-right:20px;
            margin-left: 1%;
    }

    .redessociais{
        margin-bottom:10px;
    }
    .facebook{
        height: auto;
        max-width: 27%;
        word-wrap:break-word;
        text-align:justify;
        i{
          color:#576c94;
        }

    }

    .twitter{
        i{
           color:#55acee;
        }

    }

    .googleplus{
        i{
           color:#d54732;
        }

    }

    .telegram{
        i{
           color:#d54732;
           background-image: url("../img/icon-telegram.png");
           width: 12px;
           height: 12px;
        }

    }
    .whatsapp{
        i{
           color:#d54732;
           background-image: url("../img/icon-whatsapp.png");
           width: 12px;
           height: 12px;
        }

    }
    .diaspora{
        i{
           color:#d54732;
           background-image: url("../img/icon-diaspora.png");
           width: 12px;
           height: 12px;

        }

    }
    .instagram{
        i{
           color:#d54732;
           background-image: url("../img/icon-instagram.png");
           width: 12px;
           height: 12px;
        }
    }
    .culturadigital{
        i{
           color:#d54732;
           background-image: url("../img/icon-culturadigital.png");
           width: 12px;
           height: 12px;
        }
    }

    .flick{
        margin-left:37px;
    }

    .form-opcional{
        .upadete_foto{
            display:none;
        }

        .img_updade{
           margin-left:10px;
           float: left;
        }

        .nome_chamado{
            margin-left: 37px;
            margin-right: 20px;
            float: left;
            width: 410px;
        }
        .onde_voce_mora{
            width: 400px;
            margin-left: 4%;
            display: inline-block;
            vertical-align: top;
        }

        .cidade{
            width: 300px;
            display: inline-block;
            margin-left: 37px;
        }

        span.redessociais{
            margin-left:10px;
            margin-top:37px;
        }

        i{
            font-size: 20px;
            vertical-align: middle;
        }

        .site-oficial{
            margin-left:10px;
            i{
                color:#417034;
            }

        }

        .facebook{

            i{
              color:#576c94;
            }

        }

        .twitter{
            i{
               color:#55acee;
            }

        }

        .googleplus{
            i{
               color:#d54732;
            }

        }

        .flick{
            margin-left:10px;
        }
    }

    .btn_voltar{
        float:left;
        margin-right: 50px;
        margin-left: 10px;
        a {
            color: #b3b3b3;
            text-decoration: underline;
            font-size:14px;
            font-weight: 100;
            cursor:pointer;

            i{
                background:#078979;
                cursor:pointer;
                color:#fff;
                display: inline-block;
                font-size: 20px;
                padding: 7px 9px 5px;
                margin-left:10px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
                box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);
            }
        }

        a:hover{
            i{
                color:#078979;
                background:#b3b3b3;
            }
        }
    }

    .btn_voltar_topo {
        float:right;
        margin-right: 50px;
        margin-top: -35px;
        a {
            color: #b3b3b3;
            text-decoration: underline;
            font-size:14px;
            font-weight: 100;
            cursor:pointer;

            i {
                background:#078979;
                cursor:pointer;
                color:#fff;
                display: inline-block;
                font-size: 16px;
                padding: 5px;
                margin-left:10px;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                -webkit-box-shadow: 0 0 7px 0 rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    0 0 7px 0 rgba(50, 50, 50, 0.75);
                box-shadow:         0 0 7px 0 rgba(50, 50, 50, 0.75);
            }
        }

        a:hover{
            i{
                color:#078979;
                background:#b3b3b3;
            }
        }
    }

    .btn_continuar{
        float: right;
        margin-right: 30px;
        background-color: #F7931E;
        border: none;
        border-radius: 6px;
        color: #fff !important;
        margin-left: 8%;
    }

    .btn_voltar {
        background-color: #078979;
        color: white !important;
    }

} // .page-base-form

/*
* Fim Estrutura Base Forms
**
**
**
* Estrutura Form Especifico, Backgrounds, Colors
*/
.page-homologacao{
  background:#ed1c24;
  padding-bottom: 20px;
}
.colunmH1{
  color: #fff;
  margin-left: 200px;
  font-weight: bold;
}
.colunmH2{
  color: #fff;
  margin-left: 140px;
  font-weight: bold;
}
.H3{
  margin-left: 345px;
  color: #fff;
}

.page-responsavel{
    header{
        background:$base-color-info-responsavel;
        .circle-status{
            &:after{
                background:$base-color-info-responsavel;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #FFE889;
                }
            }
            .fill, .bar{
                border-color: #FFE889;
            }
        }
    }

    .form{
        h4{
            background: $base-color-info-responsavel;
        }
    }

}

.input_erro{
    border-color: #FF0000;
}

.page-ponto-mapa{
    header{
        background: $base-color-ponto-mapa;

        .circle-status{
            &:after{
                background:$base-color-ponto-mapa;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #075579;
                }
            }
            .fill, .bar{
                border-color: #075579;
            }
        }
    }

    span.destaque-opcional{
        color: #078979;
        font-weight:100;
        margin-left:4%;
        font-size:14px;
        width:60%;
    }



    .form{
        h4{
            background: $base-color-ponto-mapa;
        }
    }
}

.page-dados-entidade{
    header{
        background: $base-color-entidade-dados;

        .circle-status{
            &:after{
                background:$base-color-entidade-dados;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #E26D8F;
                }
            }
            .fill, .bar{
                border-color: #E26D8F;
            }
        }
    }

    .form{
        h4{
            background: $base-color-entidade-dados;
        }

        input, select{
            width: 90%;
            margin-top: 0px;
            border-radius: 5px;
        }

        .vigencia{
            span{
                display:inline-block;
                width:auto;
            }

            select{
                border-radius:0px;
                width:200px;
                display:inline-block;
                margin-left: 10px;
            }

            input{
                border:0px;
                display:inline-block;
                width: 100px;
                margin-bottom: 0px;
                cursor:pointer;
            }

            .vigencia-box{
                border:1px solid #ccc;
                border-radius:3px;
                padding: 0px 10px;
                width: 100px;
            }

            .vigiencia-de{
                margin-left:10px;
                width: 50px;
            }

            .vigiencia-ate{
                margin-left:30px;
                width: 50px;
            }
        }


        .recursos-projeto{
            table{
                border:1px solid #e6e6e6;
                display: inline-block;
                padding:2px;

                td{
                   color:#999999;
                   text-align:left;
                   border:0px;
                }

                .cinza{
                    background:#e6e6e6;
                }
            }
        }

        .naoseaplica{
            font-size:12px;
            color: #999999;
            margin-top: -10px;

            .destaque{
                display:inline-block;
                .hltip{
                    font-size:11px;
                }
            }
        }
    }

}

.page-portfolio{
    header{
        background: $base-color-portfolio;

        .circle-status{
            &:after{
                background:$base-color-portfolio;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #74B362;
                }
            }
            .fill, .bar{
                border-color: #74B362;
            }
        }

    }

    .form{
        h4{
            background: $base-color-portfolio;
        }

        .espacoleft{
            margin-left:4%;
        }
    }

    .destaque{
        margin-left:1%;
        height:auto;
    }

    .destaque-conecte{
        margin-left:2%;
    }

    .row{
        .colunm-50{
            margin-left:1%;
        }
    }

    .colunm-full{
        img{
            float:left;
            margin-right: 40px;
        }

        p{
            width:300px;
            display: inline-block;
        }
    }
}

.page-contato-entidade{
    header{
        background: $base-color-projetos-financiados;

        .circle-status{
            &:after{
                background:$base-color-projetos-financiados;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #F9B86C;
                }
            }
            .fill, .bar{
                border-color: #F9B86C;
            }
        }
    }

    .form{
        h4{
            background: $base-color-projetos-financiados;
        }
    }
}

.page-ponto-mais{
    header{
        background: $base-color-atuacao-articulacao;

        .circle-status{
            &:after{
                background:$base-color-atuacao-articulacao;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #9379AF;
                }
            }
            .fill, .bar{
                border-color: #9379AF;
            }
        }
    }

    .form{
        h4{
            background: $base-color-atuacao-articulacao;
        }

        label{
            font-size:14px;
            margin-bottom:10px;

            span{
                display:inline-block;
            }
        }

        input[type="checkbox"]{
            width:15px;
            height:15px;
            vertical-align:top;
            cursor:pointer;
            margin-top:8px;

        }

        input[type=checkbox]:checked + label{
            color:#f50;
        }

        .colunm1{
            width:270px;
        }

        .colunm2{
            width:280px;
        }

        .colunm3{
            width:280px;
        }
    }
}

.page-economia-viva{
    header{
        background: $base-color-economia-viva;

        .circle-status{
            &:after{
                background:$base-color-economia-viva;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #9379AF;
                }
            }
            .fill, .bar{
                border-color: #9379AF;
            }
        }
    }

    .form{
        h4{
            background: $base-color-economia-viva;
        }

        label{
            font-size:14px;
            margin-bottom:10px;

            span{
                display:inline-block;
            }
        }

        input[type="checkbox"]{
            width:15px;
            height:15px;
            vertical-align:top;
            cursor:pointer;
            margin-top:8px;

        }

        input[type=checkbox]:checked + label{
            color:#f50;
        }

        .colunm1{
            width:270px;
        }

        .colunm2{
            width:280px;
        }

        .colunm3{
            width:280px;
        }
    }
}

.page-formacao{
    header{
        background: $base-color-formacao;

        .circle-status{
            &:after{
                background:$base-color-formacao;
            }

            span{
                color:#fff;
            }

            &:hover{
                span{
                    color: #9379AF;
                }
            }
            .fill, .bar{
                border-color: #9379AF;
            }
        }
    }

    .form{
        h4{
            background: $base-color-formacao;
        }

        label{
            font-size:14px;
            margin-bottom:10px;

            span{
                display:inline-block;
            }
        }

        input[type="checkbox"]{
            width:15px;
            height:15px;
            vertical-align:top;
            cursor:pointer;
            margin-top:8px;

        }

        input[type=checkbox]:checked + label{
            color:#f50;
        }

        .colunm1{
            width:270px;
        }

        .colunm2{
            width:280px;
        }

        .colunm3{
            width:280px;
        }
    }
}

/*
* FIM Estrutura Form Especifico, Backgrounds, Colors
*/


.row{
    margin: 3% 0;

    .clear{
        clear:both;
    }

    .colunm-full{
        display:inline-block;
        width:90%;
        margin-left:2%;
        vertical-align:top;
    }

    .colunm-50{
        display:inline-block;
        width:45%;
        margin-left: 2%;
        vertical-align:top;
    }

    .colunm-20{
        display:inline-block;
        width:20%;
        margin-left: 2%;
        vertical-align:top;
    }

    .colunm1{
        width: 400px;
        margin-left: 1%;
        display:inline-block;
        vertical-align:top;
    }

    .colunm-30{
        width: 400px;
        margin-left: 4%;
        display:inline-block;
        vertical-align:top;
    }

    .colunm05{
        width: 210px;
        margin-left: 2%;
        display:inline-block;
        vertical-align:top;
    }

    .colunm02{
        width: 140px;
        margin-left: 2%;
        display:inline-block;
        vertical-align:top;
    }

    .colunm2{
        width: 200px;
        margin-left: 1%;
        display:inline-block;
        vertical-align:top;
    }

    .colunm3{
        width: 180px;
        margin-left: 1%;
        display:inline-block;
        vertical-align:top;

    }
}

@media (min-width:320px) and (max-width: 589px) {
    #page-rede{
        article.slide-home{
            .bg-transparent{
                width:90%;
            }
            .text-banner{
                width: 90%;
            }
        }

        article.points_culture{
            .row{
                p{
                    padding:0px 5%;
                }
            }

            .box-faq{
                padding: 20px 0px 20px;
                .box{
                   width:90%;
                   font-size: 16px;
                   + .box{
                     margin-top: 20px;
                   }

                }

            }
        }
    }

    .page-base-form{
        header{
            h3{
                margin-left:5%;
            }
            .icon{
                font-size: 2em;
                margin: 20px 0 0 5%;
            }
        }

        .form{
            .img_updade{
                margin-bottom:10px;
                display:block;
                text-align:center;
            }

            span.destaque-img{
                display: block;
                width: 90%;
                vertical-align: top;
                margin-bottom: 40px;
            }

            .colunm-redes{
                width:100%;
            }
        }

        p{
            padding: 50px 5%;
        }
        .form-opcional{
            .nome_chamado{
                width:90%;
                margin-left: 5%;
            }

            .onde_voce_mora{
                width:90%;
                margin-left: 5%;
            }

            .cidade{
                margin-left:5%;
                width:90%;
            }

            .estado{
                margin-left:5%;
            }

            .colunm-redes{
                width:80%;
                margin-left:5%;
            }

            span.redessociais{
                margin-left:5%;
            }

            .img_updade{
                margin-left:5%;
            }
        }
        .btn_voltar{
            float:left;
            margin-left: 5%;
            margin-right:0px;
        }

        .btn_continuar{
            margin-right: 10%;

        }
    }
    #page-cadastro{
        section.texto{
            h2{
                padding:10px;
            }

            p{
                padding:5px 10px;
            }
        }


        section.boxs-cadastro {
            article{
                width:100%;
                h4{
                    width:70%;
                    height: 50px;
                }

                header{
                    .btn_mais{
                        right: -2%;
                        top: -8%;
                    }
                }

                span.icon{
                    vertical-align: top;
                    top: 34px;
                }

                .infos{
                    width:100%;
                }

            }
        }
        section.box-status {
            article.validar-ponto{
                label.aceito-termo{
                    display: block;
                    width: 100%;
                    p{
                        width:80%;
                    }
                }

                p.mensagem-validar{
                    width: 80%;
                }
            }
        }
    }

    .row{
        .colunm1{
            width:100%;
        }

        .colunm-20{
            width:100%;
        }

        .colunm-50{
            width:100%;
        }

        .colunm3{

        }
    }
 }

@media (min-width:761px) and (max-width: 801px) {
  section.boxs-cadastro{
        article{
            header{
                h4{
                   width: 60%;
                }
            }
        }
    }
}

@media (min-width:550px) and (max-width: 760px) {
    .page-base-form{
        .form{
            input, select{
                width:80%;
            }

            label.check{
                display:block;
            }

        }
        .form-opcional{
            input, select{
                width:80%;
            }
            .nome_chamado{
                width:60%;
                margin-left: 4%;
            }

            .onde_voce_mora{
                width:60%;
            }
            .cidade{
                width: 40%;
                margin-left: 4%;
            }
        }
    }
    #page-cadastro{
        section.texto{
            h2{
                padding:10px;
            }

            p{
                padding:5px 10px;
            }
        }

        section.boxs-cadastro {
            article{
                header{
                    h4{
                        width:60%;
                    }

                    .btn_mais{
                        left: 5%;
                        top: -6px;
                    }
                }
            }

            article.box-ponto-mapa{
                header{
                    h4{
                        width:60%;
                    }
                }
            }

             article.box-fale-mais-ponto {
                header{
                    h4{
                        width:40%;
                    }
                }
            }
        }
    }
     .page-ponto-mais{
        .form{
            .colunm1{
                width:40%;
            }

            .colunm2{
                width:40%;
            }
            .colunm3{
                width:40%;
            }
            .colunm-50{
                width:60%;
            }
        }
    }

    .page-economia-viva{
        .form{
            .colunm1{
                width:40%;
            }

            .colunm2{
                width:40%;
            }
            .colunm3{
                width:40%;
            }
            .colunm-50{
                width:60%;
            }
        }
    }

    .row{
        .colunm1{
            width:80%;
        }
        .colunm-50{
            width:60%;
        }
    }
 }
.icon-telegram{
  color:#d54732;
  background-image: url("../img/icon-telegram.png");
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
}
.icon-whatsapp{
  color:#d54732;
  background-image: url("../img/icon-whatsapp.png");
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
}
.icon-culturadigital{
  color:#d54732;
  background-image: url("../img/icon-culturadigital.png");
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
}
.icon-diaspora{
  color:#d54732;
  background-image: url("../img/icon-diaspora.png");
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
}
.icon-instagram{
  color:#d54732;
  background-image: url("../img/icon-instagram.png");
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
}

#editable-entity {
    max-width: 960px;
}

#editable-entity {
  max-width: 960px;
}

.certified-icon {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    background-image: url(../img/unverified-seal.png);
    background-repeat: no-repeat;
    background-position: center;
    &.inactive {
        opacity: .2;
    }
    &.active {
        background-image: url(../img/verified-icon-big.png);
    }
    &.editable {
        padding-top: 1rem;
        background-position: center 1rem;
        &:after {
            margin-left: -.5rem;
            position: absolute;
            top: 0;
        }
    }
}

#main-footer {
  background-color: #09897a;
  padding: 0; }

  #topo{
    //position: fixed;
    /*margin-left: -19%;*/
    /*margin-top: -40px;*/
    height: 100px;
    width: 100%;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
  }

  #topo1{
    height: 60%;
    background: #075579;

  }

  #topo2{
    height: 45%;
    background: #D1D2D4;
    /*opacity: 0.3;*/
  }

  #registros{
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: normal;

  }

  #Exportar{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    width: 180px;
    color: #075579;
    font-weight: normal;
  }

  #container_table{
    float: left;
    height: auto;
    //width: -moz-fit-content;
    width: 80%;
    padding-left: 50px;
    //border: 60px solid rgba(153, 153, 153, 0.3);
    //border-radius: 10px;
    /*margin: 100px 0 0 70px;*/
  }

  #EstiloIEContainer{
    //display: -ms-grid;
    -ms-grid-columns: min-content;
    margin-left: 170px;
  }

  #table{
    margin: 0px;
    color: #414042;
    background: #D1D2D4;
    float: left;
  }

  #table tr:nth-child(even) td{
    background-color: #FFFFFF;
  }

  #Cabecalho{
    font-size: 30px;
    font-weight: bold;
    background: #075579;
    background-clip: padding-box;
    color: #d1d2d4;
  }

  #cartao{
    width: 650px;
    height: 150px;
    text-align: left;
  }

  #cartaoBusca{
    width:215px;
  }

  #name{
  	color:#075579;
  	font-size:28px;
  }

  #nomeCompleto{
  	color:#075579;
  }

  #emailPrivado{
  	color:#075579;
  }

 .download{
    width: 1.600em;
    height: 0.500em;
    border: 0.250em solid #A7A9AC;
    border-top: none;
    position: absolute;
    bottom: 0.188em;
    position: relative;
    margin-top:1em;
  }

  .download:hover{
    width: 1.500em;
    height: 0.500em;
    border: 0.250em solid	#FFFFFF;
    border-top: none;
    position: absolute;
    bottom: 0.188em;
    position: relative;
    margin-top:1em;
  }


  .download:before{
    content: '';
    position: absolute;
    width: 0.438em;
    height: 0.625em;
    background: #A7A9AC;
    top: -0.875em;
    left: 0.563em;
  }

  .download:hover:before{
    content: '';
    position: absolute;
    width: 0.438em;
    height: 0.625em;
    background: #FFFFFF;
    top: -0.875em;
    left: 0.463em;
  }

  .download:after{
    width: 0em;
    height: 0em;
    content: '';
    position: absolute;
    border-style: solid;
    border-color: #A7A9AC transparent transparent transparent;
    border-width: 0.500em;
    left: 0.250em;
    top: -0.250em;
  }

  .download:hover:after{
    width: 0em;
    height: 0em;
    content: '';
    position: absolute;
    border-style: solid;
    border-color: 	#FFFFFF transparent transparent transparent;
    border-width: 0.500em;
    left: 0.250em;
    top: -0.250em;
  }

  .inputFiltro{
    width: 200px;
    border-radius: 2px;
    margin-left: 10px;
  }
  #errorBox{
    background-color: #ED1C24;
    text-align: center;
    margin-left: 0;
    width: 91%;
  }
  #msg_errorBox{
    color: white;
    font-size: 12px;
    font-weight: bolder;
  }
  #OBS{
    text-align: center;
    width:200px;
    textarea{
      width:200px;
      height:auto;
    }
  }

// fixing the responsive
@media screen and (max-width: 889px) {
    .site-header .main-navigation button.menu-toggle {
        width: 50px;
    }
    .site-header .main-navigation {
        float: none !important;
        max-width: initial !important;
        width: 100%;
        ul {
            border-top: 1px solid #dfdfdf;
            float: none !important;
            margin-top: 85px !important;
            width: 100%;
            li {
                border-bottom: 1px solid #dfdfdf;
                border-left: 0;
                border-right: 0;
                border-top: 1px solid #dfdfdf;
                display: block;
                float: none;
                text-align: left;
                width: 100%;
                &:before {
                    float: left;
                    margin-right: 20px;
                }
            }
        }
    }
}
