<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b>,<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Os dados do seu Ponto/Pontão de Cultura foram enviados com sucesso para a Rede Cultura Viva.<br><br></font>
</div>
<div>
<font face="tahoma, sans-serif" color="#666666">Agora que preencheu nosso cadastro, conheça também o <a color="#078979"
        href="http://cadsol.mte.gov.br/inter/cadsol/main.seam" target="_blank">cadastro de economia solidária</a> e o
        <a href="http://simmc.c3sl.ufpr.br/#/pid" target="_blank"> cadastro de pontos de inclusão digital.</a><br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Secretaria de Diversidade Cultural</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">Ministério da Cultura</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:culturaviva@cultura.gov.br" target="_blank">culturaviva@cultura.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://culturaviva.gov.br" target="_blank">http://culturaviva.gov.br</a><br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">Tel (61) 2024-2963/2969</font>
</div>
