<div>
    <p>
        Parabéns! Informamos que foi gerada com êxito sua certificação Simplificada como Ponto/Pontão de Cultura através da
        plataforma da Rede Cultura Viva nos termos da Lei n. 13.018, de 22 de julho de 2014 (Política Nacional de Cultura Viva),
        e da Instrução Normativa MinC n. 08, de 11 de maio de 2016 que a regulamenta.
    </p>
    <p>
        Para não ter sua certificação suspensa e eventualmente cancelada, mantenha suas informações sempre atualizadas.
    </p>
    <p>
        Para imprimir seu certificado, acesse o cadastro de sua entidade/coletivo no site 
        <a href="www.culturaviva.gov.br">www.culturaviva.gov.br</a>
    </p>
    <p>
        Atenciosamente,
        <br>
        Coordenação de Promoção da Cidadania e da Diversidade Cultural – COPCD/CGPCD
        <br>
        Secretaria da Cidadania e da Diversidade Cultural - SCDC/ MINISTÉRIO DA CULTURA
    </p>
</div>
