<div>
    <p>
        Prezado(a),
    </p>
    <p>
        Informo que seu cadastro na Plataforma Rede Cultura Viva foi analisado e <strong><u>inabilitado</u></strong> pela Comissão de Certificação 
        Simplificada de Pontos e Pontões de Cultura, instância responsável pela habilitação e certificação das solicitações 
        apresentadas ao Cadastro Nacional de Pontos e Pontões de Cultura, em observância aos procedimentos e exigências 
        dispostos na Lei 13.018/2014 e na Instrução Normativa MinC nº 8/2016.<br>
    </p>
    <p>
        Justificativa dos avaliadores para o indeferimento da certificação:
        <ol>
            {{#avaliacoes}}
            <li>
                <p>
                    {{observacoes}}<br>
                </p>
            </li>
            {{/avaliacoes}}
        </ol>

    </p>
    <p>
        Diante do exposto, caso tenha interesse em uma nova avaliação pela Comissão de Certificação Simplificada de Pontos e 
        Pontões de Cultura, solicitamos que complemente o cadastro de sua entidade na Plataforma da Rede Cultura Viva 
        http://culturaviva.gov.br/cadastro/ dentro de 10 dias corridos.<br>
    </p>
    <p>
        Em caso de dúvidas acesse http://www.culturaviva.gov.br ou contate-nos pelo culturaviva@cultura.gov.br.<br>
    </p>
    <p>
        Atenciosamente,
        <br>
        Coordenação de Promoção da Cidadania e da Diversidade Cultural – COPCD/CGPCD
        <br>
        Secretaria da Cidadania e da Diversidade Cultural - SCDC/ MINISTÉRIO DA CULTURA
    </p>
</div>
