<div ng-controller="AvaliacaoTabEntidadeCtrl" class="row" style="padding-top: 30px;" ng-form>

    <tc-input
        ng-model="agent._tipoOrganizacao"
        label="Tipo de organização"
        col="6"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent._tipoPontoCulturaDesejado"
        label="Tipo do Ponto de Cultura Desejado"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.name"
        label="Nome do Coletivo Cultural"
        col="6"
        readonly="true"
        ng-if="agent.tipoOrganizacao === 'coletivo'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.cnpj"
        label="CNPJ da Entidade"
        col="3"
        readonly="true"
        ui-mask="99.999.999/9999-99"
        ng-if="agent.tipoOrganizacao === 'entidade'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.nomeCompleto"
        label="Nome da Razão Social da Entidade"
        col="6"
        readonly="true"
        ng-if="agent.tipoOrganizacao === 'entidade'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.representanteLegal"
        label="Nome do Representante Legal"
        col="6"
        readonly="true"
        ng-if="agent.tipoOrganizacao === 'entidade'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.name"
        label="Nome Fantasia"
        col="6"
        readonly="true"
        ng-if="agent.tipoOrganizacao === 'entidade'"
        >
    </tc-input>

    <header class="section-header">
        <h2 class="col-md-12">Informações de contato {{agent.tipoOrganizacao == 'coletivo' ? 'do Coletivo' : 'da Entidade'}}</h2>
    </header>

    <tc-input
        ng-model="agent.emailPrivado"
        label="Email institucional"
        col="12"
        col-input="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.telefone1"
        label="Telefone institucional"
        col="3"
        readonly="true"
        ui-mask="(99) ?99999-9999"
        >
    </tc-input>

    <tc-input
        ng-model="agent.telefone1_operadora"
        label="Operadora"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.telefone2"
        label="Outro Telefone"
        col="3"
        readonly="true"
        ui-mask="(99) ?99999-9999"
        >
    </tc-input>

    <tc-input
        ng-model="agent.telefone2_operadora"
        label="Operadora"
        readonly="true"
        col="3"
        >
    </tc-input>

    <header class="section-header">
        <h2 class="col-md-12">Responsável {{agent.tipoOrganizacao == 'coletivo' ? 'pelo Coletivo' : 'pela Entidade'}}</h2>
    </header>

    <tc-input
        ng-model="agent.responsavel_nome"
        label="Nome do Responsável"
        col="6"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.responsavel_cargo"
        label="Cargo do Responsável"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.responsavel_email"
        label="Email do Responsável"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.responsavel_telefone"
        label="Telefone do Responsável"
        col="3"
        readonly="true"
        ui-mask="(99) ?99999-9999"
        >
    </tc-input>

    <tc-input
        ng-model="agent.responsavel_operadora"
        label="Operadora"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.responsavel_telefone2"
        label="Outro Telefone"
        col="3"
        readonly="true"
        mask="(99) ?99999-9999"
        >
    </tc-input>

    <tc-input
        ng-model="agent.responsavel_operadora2"
        label="Operadora"
        col="3"
        readonly="true"
        >
    </tc-input>

    <header class="section-header">
        <h2 class="col-md-12">Endereço  {{agent.tipoOrganizacao == 'coletivo' ? 'do Coletivo' : 'da Entidade'}}</h2>
    </header>

    <tc-input
        ng-model="agent.pais"
        label="País"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent._En_EstadoTexto"
        label="Estado"
        col="3"
        readonly="true"
        ng-if="agent.pais === 'Brasil'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Estado"
        label="Estado"
        col="3"
        readonly="true"
        ng-if="agent.pais !== 'Brasil'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Municipio"
        label="Cidade"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Bairro"
        label="Bairro"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Nome_Logradouro"
        label="Rua"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Num"
        label="Número"
        col="2"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.cep"
        label="CEP"
        col="2"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Complemento"
        label="Complemento"
        col="4"
        readonly="true"
        >
    </tc-input>
</div>
