<div ng-controller="AvaliacaoTabPontoCtrl" class="row" style="padding-top: 30px;" ng-form>

    <img ng-if="agent.files.logoponto" src="{{agent.files.logoponto.url}}" width="160" height="138">

    <tc-input
        ng-model="agent.name"
        label="Nome do Ponto/Pontão de Cultura"
        col="12"
        col-input="6"
        readonly="true"
        >
    </tc-input>

    <tc-input-text
        label="Breve descrição do Ponto/Pontão de Cultura"
        ng-model="agent.shortDescription"
        rows="8"
        readonly="true"
        disabled="!avaliacao.autorizaEdicao"
        >
    </tc-input-text>

    <tc-input
        ng-model="agent._tem_sede"
        label="O Ponto/Pontão de Cultura tem sede própria?"
        col="6"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent._sede_realizaAtividades"
        label="O Ponto/Pontão de Cultura realiza atividades culturais na sede?"
        col="6"
        readonly="true"
        >
    </tc-input>

    <header class="section-header">
        <h2 class="col-md-12">Endereço  do Ponto/Pontão de Cultura</h2>
    </header>

    <tc-input
        ng-model="agent.pais"
        label="País"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent._En_EstadoTexto"
        label="Estado"
        col="3"
        readonly="true"
        ng-if="agent.pais === 'Brasil'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Estado"
        label="Estado"
        col="3"
        readonly="true"
        ng-if="agent.pais !== 'Brasil'"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Municipio"
        label="Cidade"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Bairro"
        label="Bairro"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Nome_Logradouro"
        label="Rua"
        col="3"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Num"
        label="Número"
        col="2"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.cep"
        label="CEP"
        col="2"
        readonly="true"
        >
    </tc-input>

    <tc-input
        ng-model="agent.En_Complemento"
        label="Complemento"
        col="4"
        readonly="true"
        >
    </tc-input>
</div>
